<div class="dialog dialog-form dialog-xx" [formGroup]="mainForm">
    <h2 mat-dialog-title translate="Box.MOVE_CONFIRMATION_TITLE" [translateParams]="[data.name]"></h2>
    <mat-dialog-content>

        <mat-selection-list formControlName="newParentId"
                            [multiple]="false"
                            tabindex="-1"
                            class="selection-list">
            @for (box of boxResourceList.value(); track box.boxId) {
            <mat-list-option [value]="box.boxId"
                             [disabled]="!box.isSelectable"
                             togglePosition="after">
                <span matListItemAvatar class="selection-list-image">
                    <img [src]="box.boxId ?? 0 | asPhoto:'box':box.updatedAt:'icons'"
                         appImgFallback crossorigin>
                </span>
                <div matListItemTitle [style.margin-left.px]="box.indent * 32">
                    <mat-icon class="selection-list-connector">
                        @if (box.indent > 0) { subdirectory_arrow_right }
                        @else { folder }
                    </mat-icon>
                    <span>{{ box.name }}</span>
                </div>
            </mat-list-option>
            }
            @if (errorMessages['newParentId']()) {
            <mat-error [translateError]="errorMessages['newParentId']()"></mat-error>
            }
        </mat-selection-list>

    </mat-dialog-content>
    <mat-dialog-actions>
        <div>
            <mat-checkbox formControlName="confirmMove" tabindex="0">
                <span translate="Box.MOVE_CONFIRMATION_MSG" [translateParams]="[data.name]"></span>
            </mat-checkbox>
            @if (errorMessages['confirmMove']()) {
            <mat-error [translateError]="errorMessages['confirmMove']()"></mat-error>
            }
        </div>
        <span class="flex-spacer"></span>
        <button mat-flat-button [disabled]="!canMove" (click)="move()" translate="Global.MOVE"></button>
        <button mat-button type="button" [mat-dialog-close]="false" cdkFocusInitial class="btn-cancel"
                translate="Global.CANCEL"></button>
    </mat-dialog-actions>
</div>