# --- .NET / Visual Studio ('back') ---
**/bin/
**/obj/
**/.vs/
**/.user
**/appsettings.Development.json
**/appsettings.Production.json
**/*.db
**/*.db-journal
*.slnx.user
*.csproj.user

# --- Angular / Node ('front') ---
**/node_modules/
**/dist/
**/.angular/
**/.vscode/
**/npm-debug.log*
**/yarn-error.log*

# --- Docker & OS ---
.docker/
.env
.DS_Store
Thumbs.db

# --- Local images ---
infra/cdn/static/img/item/*
infra/cdn/static/img/box/*
infra/cdn/static/temp/*

!infra/cdn/static/img/item/0.png
!infra/cdn/static/img/box/0.png
!infra/cdn/static/temp/.gitkeep

# --- SQL ---
infra/sql/data/*
infra/sql/backups/*

!infra/sql/data/.gitkeep
!infra/sql/backups/.gitkeep