# --- .NET / Visual Studio ('back') ---
**/bin/
**/obj/
**/.vs/
**/.user
**/appsettings.Development.json
**/*.db
**/*.db-journal
*.slnx.user
*.csproj.user

# --- Angular / Node ('front') ---
**/node_modules/
**/dist/
**/.angular/
**/.vscode/
**/npm-debug.log*
**/yarn-error.log*

# --- Docker & OS ---
.docker/
.env
.DS_Store
Thumbs.db

# --- Local images ---
front/static/img/item/
front/static/img/box/
