# --- .NET / Visual Studio ('back') ---
**/bin/
**/obj/
**/.vs/
**/.user
**/appsettings.Development.json
**/appsettings.Production.json
**/*.db
**/*.db-journal
*.slnx.user
*.csproj.user

# --- Angular / Node ('front') ---
**/node_modules/
**/dist/
**/.angular/
**/.vscode/
**/npm-debug.log*
**/yarn-error.log*

# --- Docker & OS ---
.docker/
.env
.DS_Store
Thumbs.db

# --- Local images ---
front/static/img/item/
front/static/img/box/
front/static/temp/

# --- SQL ---
infra/sql/data/*
!infra/sql/data/.gitkeep
infra/sql/backups/*
!infra/sql/backups/.gitkeep