footer {
  position: fixed;
  z-index: 999;
  bottom: 0; /* Positions it at the very bottom of the viewport */
  width: 100%;
  background-color: #7b7b7b;
  color: white;
  text-align: center;
  height: 30pt;
  p {
    line-height: 10pt;
  }
}