<div class="dialog dialog-form">
<h2 mat-dialog-title [translate]="data.categoryId > 0 ? 'Global.EDIT' : 'Global.NEW'"></h2>
<mat-dialog-content [formGroup]="mainForm">   

    <mat-form-field>
        <mat-label translate="Category.NAME"></mat-label>
        <input 
            matInput 
            formControlName="name" 
            (blur)="updateErrorMessage('name', 'Category.CATEGORY_NAME')"
            required
            maxlength="64">
        <mat-hint align="end">{{ mainForm.get('name')?.value?.length || 0 }}/64</mat-hint>
        @if (errorMessages['name']()) {
            <mat-error [translateError]="errorMessages['name']()"></mat-error>
        }
    </mat-form-field>    
    
    <mat-form-field>
        <mat-label translate="Category.ICON">Icon</mat-label>
        <input 
            matInput 
            formControlName="icon"
            (blur)="updateErrorMessage('icon', 'Category.CATEGORY_ICON')"
            required
            maxlength="32">
        <mat-hint align="end">{{ mainForm.get('icon')?.value?.length || 0 }}/32</mat-hint>
        @if (errorMessages['icon']()) {
            <mat-error [translateError]="errorMessages['icon']()"></mat-error>
        }        
    </mat-form-field>

    <mat-form-field class="edit-dialog-color">
        <mat-label translate="Category.COLOR"></mat-label>
        <input 
            matInput 
            type="color" 
            formControlName="color"
            (blur)="updateErrorMessage('color', 'Category.CATEGORY_COLOR')"
            required
            maxlength="7">
        <span matTextSubfix>
            @if (mainForm.get('icon')?.value) {   
                <mat-icon [style.color]="mainForm.get('color')?.value">{{ mainForm.get('icon')?.value }}</mat-icon>
            } @else {   
                <mat-icon>warning</mat-icon>
            }
        </span>        
        @if (errorMessages['color']()) {
            <mat-error [translateError]="errorMessages['color']()"></mat-error>
        }
    </mat-form-field> 
    
    <mat-form-field>
        <mat-label translate="Category.SCOPE"></mat-label>
        <mat-select 
            formControlName="includedIn" 
            (blur)="updateErrorMessage('includedIn', 'Category.CATEGORY_SCOPE')"
            multiple>
            <mat-select-trigger>
                <div class="scope-as-list-block">
                @for (option of mainForm.get('includedIn')?.value; track option; let isLast = $last) {
                    @let scope = entityScope.getById(option);
                    <mat-icon>{{ scope.icon }}</mat-icon>
                    <span [translate]="scope.label"></span>  
                    @if (!isLast) { <i class="separator">,</i> }              
                }
                </div>
            </mat-select-trigger>

            @for (option of scopeSelectableOptions; track option.value) {
                <mat-option [value]="option.value">
                    <mat-icon>{{option.icon}}</mat-icon>
                    <span [translate]="option.label"></span>
                </mat-option>
            }
        </mat-select>
        @if (errorMessages['includedIn']()) {
            <mat-error [translateError]="errorMessages['includedIn']()"></mat-error>
        }
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>    
    <button mat-flat-button [disabled]="isBusy()" (click)="save()" translate="Global.SAVE"></button>
    <button mat-button type="button" [mat-dialog-close]="false" class="btn-cancel" translate="Global.CANCEL"></button>
</mat-dialog-actions>
</div>