@if(boxResource.value(); as box) {
<form [formGroup]="mainForm" class="custom-form">

<mat-card class="custom-card" appearance="outlined">
    <mat-card-header>    
        <mat-form-field>
            <mat-label>{{ 'Box.NAME' | translate }}</mat-label>
            <input
                matInput
                [placeholder]="'Box.NAME' | translate"
                formControlName="name"
                (blur)="updateErrorMessage('name', 'Box.BOX_NAME')" 
                required
                maxlength="64"
            />
            <mat-hint align="end">{{ mainForm.get('name')?.value?.length || 0 }}/64</mat-hint>
            @if (errorMessages['name']()) {
                <mat-error>{{ errorMessages['name']() | translateError }}</mat-error>
            }
        </mat-form-field>
    </mat-card-header>

    <div class="image-container" 
        (click)="fileInput.click()"
        tabindex="-1">
        @if (isUploadingImage()) {
            <div class="image-container-loader"></div>
        }
        <img mat-card-image 
            [src]="boxService.getTempPhotoBy(imageGuid())"
            [class.image-container-loaded]="!isUploadingImage()"
            (load)="onImageLoad()"
            (error)="onImageLoad()"
            alt="{{ box.name }}"
            class="image-container-photo"
            appImgFallback
            crossorigin>

        @if (!isUploadingImage()) {
            <div class="image-container-overlay" [class.image-container-disabled]="isBusy()">
                <mat-icon>photo_camera</mat-icon>
                @if(!mainForm.invalid) { 
                    <span translate="Global.UPLOAD_PHOTO"></span> 
                } @else { 
                    <span translate="Global.FILL_FORM_PHOTO"></span> 
                }                
            </div>
        }
        <input 
            type="file" 
            #fileInput 
            style="display: none;" 
            accept="image/*" 
            [disabled]="isBusy()"
            (change)="onFileSelected($event)">
    </div>
    
    <mat-card-content>

        <app-box-breadcrumb [fullPath]="box.fullPath" />

        <app-brand-select controlName="brandId" [label]="'Box.BRAND' | translate" [scope]="EntityScope.Box" friendlyErrorName="Box.BOX_BRAND" />

        <app-category-select controlName="categoryId" [label]="'Box.CATEGORY' | translate" [scope]="EntityScope.Box" friendlyErrorName="Box.BOX_CATEGORY" />        

        <mat-form-field>
            <mat-label>{{ 'Box.NOTES' | translate }}</mat-label>
            <textarea 
                matInput
                [placeholder]="'Box.NOTES' | translate"
                formControlName="notes"
                (blur)="updateErrorMessage('notes', 'Box.BOX_NOTES')"
                required
                maxlength="512">
            </textarea>
            <span matTextPrefix><mat-icon>note</mat-icon></span>
            <mat-hint align="end">{{ mainForm.get('notes')?.value?.length || 0 }}/512</mat-hint>
            @if (errorMessages['notes']()) {
                <mat-error>{{ errorMessages['notes']() | translateError }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>{{ 'Box.WIDTH' | translate }}</mat-label>
            <input 
                matInput 
                type="number" 
                min="0"
                formControlName="width"
                (blur)="updateErrorMessage('width', 'Box.BOX_WIDTH')"
                required 
                class="right-align" 
                placeholder="0" 
            />
            <span matTextPrefix><mat-icon>straighten</mat-icon></span>
            <span matTextSuffix>cm</span>
            @if (errorMessages['width']()) {
                <mat-error>{{ errorMessages['width']() | translateError }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>{{ 'Box.HEIGHT' | translate }}</mat-label>
            <input 
                matInput 
                type="number" 
                min="0"
                formControlName="height"
                (blur)="updateErrorMessage('height', 'Box.BOX_HEIGHT')"
                required 
                class="right-align" 
                placeholder="0" 
            />
            <span matTextPrefix><mat-icon>straighten</mat-icon></span>
            <span matTextSuffix>cm</span>
            @if (errorMessages['height']()) {
                <mat-error>{{ errorMessages['height']() | translateError }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field floatLabel="always">
            <mat-label>{{ 'Box.DEPTH' | translate }}</mat-label>
            <input 
                matInput 
                type="number" 
                min="0"
                formControlName="depth"
                (blur)="updateErrorMessage('depth', 'Box.BOX_DEPTH')"
                required 
                class="right-align" 
                placeholder="0" 
            />
            <span matTextPrefix><mat-icon>straighten</mat-icon></span>
            <span matTextSuffix>cm</span>
            @if (errorMessages['depth']()) {
                <mat-error>{{ errorMessages['depth']() | translateError }}</mat-error>
            }
        </mat-form-field>

    </mat-card-content>

    <mat-card-actions align="end">
        <button type="button" matButton (click)="onSubmit()" [disabled]="isBusy() || !imageGuid()">
            @if (isSaving() || isUploadingImage()) {
                <mat-icon><mat-spinner diameter="18" mode="indeterminate"></mat-spinner></mat-icon>
            } @else {
                <mat-icon>save</mat-icon>
            }
            @if (isSaving()) { <span translate="Global.SAVING"></span> }
            @else if (isUploadingImage()) { <span translate="Global.UPLOADING_IMAGE"></span> }
            @else { <span translate="Global.SAVE"></span> }            
        </button>
        <button type="button" matButton (click)="onCancel()" class="btn-cancel">
            <mat-icon>
                @if (mainForm.dirty) { cancel }            
                @else { navigate_before }        
            </mat-icon>
            @if (mainForm.dirty) { <span translate="Global.CANCEL"></span> }
            @else { <span translate="Global.BACK"></span> }
        </button> 
    </mat-card-actions>

</mat-card>
</form>
} @else if (boxResource.isLoading()) {
  <div class="loading-message"></div>
}