<div class="main-menu">

    <button matButton [routerLink]="['/welcome']" class="btn-icon-only">
        <mat-icon>home</mat-icon>
    </button>      

    <button matButton [matMenuTriggerFor]="boxMenu">
        <mat-icon>inventory</mat-icon>
        <span translate="Menu.BOX"></span>
    </button>
    <mat-menu #boxMenu="matMenu">
        <button mat-menu-item *hasRole="Role.Operator" [routerLink]="['/box/new', this.params.parentBoxId()]">
            <mat-icon>add</mat-icon>
            <span translate="Menu.NEW"></span>
        </button>
        <button mat-menu-item [routerLink]="['/box/list', null]">
            <mat-icon>search</mat-icon>
            <span translate="Menu.SEARCH"></span>
        </button>
    </mat-menu>

    <button matButton [matMenuTriggerFor]="itemMenu">
        <mat-icon>art_track</mat-icon>
        <span translate="Menu.ITEM"></span>
    </button>
    <mat-menu #itemMenu="matMenu">
        <button mat-menu-item *hasRole="Role.Operator" [routerLink]="['/item/new']">
            <mat-icon>add</mat-icon>
            <span translate="Menu.NEW"></span>
        </button>
        <button mat-menu-item [routerLink]="['/item/list']">
            <mat-icon>search</mat-icon>
            <span translate="Menu.SEARCH"></span>
        </button>
    </mat-menu>   
    
    <button matButton *hasRole="Role.Operator" [routerLink]="['/storage']">
        <mat-icon>storage</mat-icon>
        <span translate="Menu.STORAGE"></span>
    </button>

    <button matButton [matMenuTriggerFor]="categoryMenu">
        <mat-icon>category</mat-icon>
        <span translate="Menu.CATEGORY"></span>
    </button>
    <mat-menu #categoryMenu="matMenu">        
        <button mat-menu-item *hasRole="Role.Editor" [routerLink]="['/category/list']" [queryParams]="{ action: 'add' }">
            <mat-icon>add</mat-icon>
            <span translate="Menu.NEW"></span>
        </button>        
        <button mat-menu-item [routerLink]="['/category/list']">
            <mat-icon>{{ securityService.hasRole(Role.Editor) ? 'dashboard_customize' : 'search' }} </mat-icon>
            @if(securityService.hasRole(Role.Editor)) {
                <span translate="Menu.SETUP"></span>
            } @else {
                <span translate="Menu.SEARCH"></span>
            }            
        </button>
    </mat-menu>

    <button matButton [matMenuTriggerFor]="brandMenu">
        <mat-icon>verified</mat-icon>
        <span translate="Menu.BRAND"></span>
    </button>
    <mat-menu #brandMenu="matMenu">        
        <button mat-menu-item *hasRole="Role.Editor" [routerLink]="['/brand/list']" [queryParams]="{ action: 'add' }">
            <mat-icon>add</mat-icon>
            <span translate="Menu.NEW"></span>
        </button>        
        <button mat-menu-item [routerLink]="['/brand/list']">
            <mat-icon>{{ securityService.hasRole(Role.Editor) ? 'dashboard_customize' : 'search' }} </mat-icon>
            @if(securityService.hasRole(Role.Editor)) {                
                <span translate="Menu.SETUP"></span>
            } @else {
                <span translate="Menu.SEARCH"></span>
            }
        </button>
    </mat-menu>   

    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="langMenu">
        <mat-icon>language</mat-icon>
        <span [translate]="globalization.currentLanguageLabelKey()"></span>
    </button>

    <mat-menu #langMenu="matMenu">
        @for (lang of globalization.languages(); track lang.languageCode) {
            <button mat-menu-item (click)="onLanguageChange(lang)">
                <mat-icon>
                    {{ isCurrentLang(lang.languageCode) ? 'check' : 'translate' }}
                </mat-icon>
                <span [translate]="globalization.getLanguageLabelKey(lang.languageCode)"></span>
            </button>
        }
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="sessionMenu">
        <mat-icon>star</mat-icon>
        <span translate="Session.GREETING"></span><span>{{ securityService.givenName() }}</span>
    </button>

    <mat-menu #sessionMenu="matMenu">        
        <button mat-menu-item (click)="securityService.logout()">
            <mat-icon>logout</mat-icon>
            <span translate="Session.LOGOUT"></span>
        </button>    
    </mat-menu>

</div>