.main-menu {
    background-color: #004f4f;
    border: solid 2pt transparent;
    border-bottom-color:#0dd;
    padding: 0;

    display: flex;
    align-items: center;     
    min-width: 100%; 
    justify-content: flex-start;

    .only-icon {
        margin: 0;
        padding: 0;
    }

    .spacer {
        flex: 1 1 auto;
    }
}
